.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modal-confirm,
.modal-cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.modal-confirm {
    background-color: #007BFF;
    color: white;
}

.modal-cancel {
    background-color: #ccc;
    color: #333;
}

.modal-confirm:hover {
    background-color: #0056b3;
}

.modal-cancel:hover {
    background-color: #999;
}