.container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas:
    "userPurchases ";
  min-height: 40rem;

}

.userData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid black;

  .userImage {
    height: auto;
    max-width: 15rem;
  }

  .Udata {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0;
    padding: 1rem;
    flex-grow: 1;

    p {
      text-align: start;
    }

  }
}

.userPurchases {
  grid-area: userPurchases;
  border: 1px black solid;
}

.userCupons {
  grid-area: userCupons;
  border: 1px black solid;
}

.user-container-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}


.user-container-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ------------ */

.logoutButton {
  padding: 8px 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #c33c29;
}

/* ------------------ */
.create-cupon-button {
  padding: 8px 16px;
  background-color: #4CAF50;
  /* Verde */
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.create-cupon-button:hover {
  background-color: #45a049;
}