.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-button {
    padding: 8px 16px;
    margin: 0 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.page-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.page-button:hover:not(:disabled) {
    background-color: #0056b3;
}

.page-info {
    font-size: 16px;
    color: #333;
}