.userItem {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 17rem;
    height: 12rem;
}

.user-info-product {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    align-items: center;
}

.productSpans span {
    display: block;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: bold;
    margin-top: 1rem;
}

.status {
    font-size: small;
    color: #666;
}

.send-button {
    padding: 8px 16px;
    margin: 0 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-item {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.product-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.product-title {
    margin-bottom: 5px;
    color: #333;
    font-size: 1.2rem;
}

.product-price {
    font-weight: bold;
    color: #0056b3;
}

.product-stock,
.product-sold {
    font-size: 0.9rem;
    color: #666;

}