.search-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 8px;
    margin-bottom: 20px;
}

.search-input,
.search-select {
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.searchBarrButton {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.search-button {
    background-color: #007bff;
}

.blockButton {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.blockButton:hover {
    background-color: #ccc;
}

.search-button:hover {
    background-color: #0056b3;
}


@media (max-width: 600px) {

    .search-input,
    .search-select,
    .search-button {
        flex-basis: 100%;
        margin: 5px 0;
    }
}